<ng-container [ngSwitch]="currentStep | async">
  <app-personal-info
    *ngSwitchCase="'personalInfos'"
    [startingForm]="userForm.get('personalInfos')?.value"
    (formInitializer)="formInitializer('personalInfos', $event)"
  ></app-personal-info>
  <app-personal-upload
    *ngSwitchCase="'personalUploads'"
    [startingForm]="userForm.get('personalUploads')?.value"
    (formInitializer)="formInitializer('personalUploads', $event)"
  ></app-personal-upload>
  <app-personal-settings
    *ngSwitchCase="'personalSettings'"
    [startingForm]="userForm.get('personalSettings')?.value"
    (formInitializer)="formInitializer('personalSettings', $event)"
  ></app-personal-settings>
</ng-container>
