<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md w-full">
        <div class="flex flex-col items-center justify-center text-center space-y-2">
            <div class="font-semibold text-2xl">
                <span class="vision">VISION</span><span class="vault">VAULT</span>
            </div>  
            <h1 class="text-center text-xl font-bold mb-4">Forgot Password</h1>
        </div>
        <form>
            <div class="mt-4 mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="email">
                    Email Address<span class="required">*</span>
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email address" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="oldPassword">
                    Old Password<span class="required">*</span>
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="oldPassword" type="password" placeholder="Enter your old password" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="newPassword">
                    New Password<span class="required">*</span>
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="newPassword" type="password" placeholder="Enter your new password" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="confirmPassword">
                    Confirm Password<span class="required">*</span>
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirmPassword" type="password" placeholder="Enter your new password confirmation" />
            </div>
            <button class="vv-btn  bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">
                Reset Password
            </button>
        </form>
    </div>
</div>